.header {
  @apply border-b-1 border-gray-500 h-56;

  .navbar {
    @apply pt-18;
  }

  li {
    a {
      @apply text-lg font-semibold hover:text-red-500;
    }
  }
}

.pin-header {
  @apply bg-blue-400;
}

.page-home-data,
.front-page-data,
.error404 {
  .header:not(.pin-header):not(.is-open-menu) {
    .hamburger-menu .icon-bar {
      @apply bg-brown-100;
    }

    .main-menu-ul {
      @apply text-white;
    }

    .btn-transparent {
      @apply text-brown-100 border-brown-100;

      &:hover {
        @apply text-brown-200 border-brown-200;
      }
    }
  }
}

.screenshot {
  .header {
    @apply left-auto transform-none;
  }
}

.header-logo {
  @apply w-113;
}

@screen down_lg {
  header {
    &::after {
      content: '';
      @apply bg-brown-100 right-0 left-0 top-0 bottom-full absolute z-a-1;
    }

    &.is-open-menu {
      height: calc(100% + 70px);

      &::after {
        @apply bottom-0;
      }

    }
  }

  .touch {
    .main-menu-ul {
      flex: 0 0 auto;
    }
  }
}


@media (max-width: 767px) and (orientation: landscape) {
  .header {
    @apply absolute bg-transparent #{!important};
  }
}